<%= link_to "#{model_helper :Moedas}", coins_path, class:"btn btn-primary btn-lg", role:"button" %>
<%= link_to "#{model_helper :Tipo_de_mineração}", mining_types_path, class:"btn btn-primary btn-lg", role:"button" %>