<h1><%= t('new.mining_type') %></h1>

<%= render 'form', mining_type: @mining_type %>

<%= link_to t('links.show'), @mining_type, class:"btn btn-primary" %> |
<%= link_to t('links.back'), mining_types_path, class:"btn btn-primary" %>
