<p id="notice"><%= notice %></p>

<form>
  <div class="form-group">
    <%= label_tag nil, @mining_type.class.human_attribute_name(:description) %>
    <%= text_field_tag nil, @mining_type.description, class:"form-group", disabled: true %>
  </div>

  <div class="form-group">
    <%= label_tag nil, @mining_type.class.human_attribute_name(:acronym) %>
    <%= text_field_tag nil, @mining_type.acronym, class:"form-group", disabled: true %>
  </div>
</form>

<%= link_to t('links.edit'), edit_mining_type_path(@mining_type), class:"btn btn-primary" %> |
<%= link_to t('links.back'), mining_types_path, class:"btn btn-primary" %>
